{{ define "title" }}Hang Turkey - Make Your Best Guess{{ end }}

{{ define "content" }}
{{ $state := .State }}

<style type="text/css">
body {
	background:#CCC;
}
h2 {
	clear:both;
	margin:0;
	padding:1em 0;
}
ol {
	list-style:none;
	margin:0;
	padding:0;
}
li {
	display:block;
	float:left;
	height:2em;
	line-height:2em;
	margin:0 0.5em 0.5em 0;
	text-align:center;
	width:2.5em;
}
li a {
	display:block;
	height:100%;
}
#Alphabet {
	/* (2.5 + 0.5) * 13 + 1 (for good measure)*/
	width:40em;
}
#Alphabet li {
	background:yellow;
}
#Alphabet li.correct {
	background:green;
}
#Alphabet li.wrong {
	background:red;
}
#Error {
	color:#C10;
}
#Guess {
	clear:both;
}
#NewWord {
	clear:both;
	display:none;
}
#Stage {
	border:1px solid #000;
	height:612px;
	position:relative;
	width:792px;
}
#Turkey {
	border:1px solid #F00;
	height:385px;
	position:relative;
	width:359px;
}
#Turkey > div {
	position:absolute;
	xbackground-color:rgba(0, 0, 0, 0.25);
}
#Turkey #LeftLeg {
	background-image:url(../images/turkey_leg_left.svg);
	background-repeat:no-repeat;
	height:60px;
	left:140px;
	top:325px;
	width:38px;
}
#Turkey #RightLeg {
	background-image:url(../images/turkey_leg_right.svg);
	background-repeat:no-repeat;
	height:60px;
	left:182px;
	top:325px;
	width:38px;
}
#Turkey #LeftWing {
	background-image:url(../images/turkey_wing_left.svg);
	background-repeat:no-repeat;
	height:84px;
	left:0px;
	top:202px;
	width:94px;
}
#Turkey #RightWing {
	background-image:url(../images/turkey_wing_right.svg);
	background-repeat:no-repeat;
	height:84px;
	left:265px;
	top:202px;
	width:94px;
}
#Turkey #Body {
	background-image:    url(../images/turkey_body.svg), url(../images/turkey_feathers.svg);
	background-position: center bottom,                  center top;
	background-repeat:   no-repeat,                      no-repeat;
	background-size:     73.394% auto,                   100% auto;
	height:300px;
	left:15px;
	overflow:hidden;
	top:45px;
	width:327px;
}
#Turkey #Neck {
	background-image:url(../images/turkey_neck.svg);
	background-position:center bottom;
	background-repeat:no-repeat;
	height:270px;
	left:115px;
	top:0px;
	width:124px;
}
#Turkey #Head {
	background-image:url(../images/turkey_head_eyes-normal.svg);
	xbackground-image:url(../images/turkey_head_eyes-bulge.svg);
	background-position:center bottom;
	background-repeat:no-repeat;
	height:168px;
	width:124px;
}
#Word li {
	background:#CCC;
	border-bottom:1px solid #000;
}
#Word li.space {
	border:0;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
var incorrects = 0;
var animap = []
var prepAnimap = function(turkey) {
	var t = null
	// 0 wrong
	// animap[0] = {}
	// 1 wrong
	t = turkey.find('#Body')
	animap[1] = {
		id: t.attr('id'),
		init: {
			height: 0,
			left:   t.position().left + t.width() / 2,
			top:    t.position().top  + t.height() / 2,
			width:  0
		},
		queue: [
			{
				properties: {
					height: t.height() * 1.20,
					left:   t.position().left - t.width() * 0.10,
					top:    t.position().top - t.height() * 0.10,
					width:  t.width() * 1.20
				},
				options: {
					duration: 300,
					queue:    true
				}
			},
			{
				properties: {
					height: t.height(),
					left:   t.position().left,
					top:    t.position().top,
					width:  t.width()
				},
				options: {
					duration: 100,
					queue:    true
				}
			}
		]
	}
	// 2 wrong
	t = turkey.find('#LeftLeg')
	animap[2] = {
		id: t.attr('id'),
		init: {
			top: t.position().top - t.height()
		},
		queue: [
			{
				properties: {
					top: t.position().top
				},
				options: {
					queue: true
				}
			}
		]
	}
	// 3 wrong
	t = turkey.find('#RightLeg')
	animap[3] = {
		id: t.attr('id'),
		init: {
			top: t.position().top - t.height()
		},
		queue: [
			{
				properties: {
					top: t.position().top
				},
				options: {
					queue: true
				}
			}
		]
	}
	// 4 wrong
	t = turkey.find('#LeftWing')
	animap[4] = {
		id: t.attr('id'),
		init: {
			left: t.position().left + t.width()
		},
		queue: [
			{
				properties: {
					left: t.position().left
				},
				options: {
					queue: true
				}
			}
		]
	}
	// 5 wrong
	t = turkey.find('#RightWing')
	animap[5] = {
		id: t.attr('id'),
		init: {
			left: t.position().left - t.width()
		},
		queue: [
			{
				properties: {
					left: t.position().left
				},
				options: {
					queue: true
				}
			}
		]
	}
	// 6 wrong
	t = turkey.find('#Neck')
	animap[6] = {
		id: t.attr('id'),
		init: {
			height: 0,
			left:   t.position().left + t.width() / 2,
			top:    t.position().top + t.height(),
			width:  0
		},
		queue: [
			{
				properties: {
					height: t.height(),
					left:   t.position().left,
					top:    t.position().top,
					width:  t.width()
				},
				options: {
					queue: true
				}
			}
		]
	}
}
var prepDOM = function(id) {
	var t = $('<div id="Turkey"></div>')
	t.append($('<div id="LeftLeg"></div>'))
	t.append($('<div id="RightLeg"></div>'))
	t.append($('<div id="LeftWing"></div>'))
	t.append($('<div id="RightWing"></div>'))
	t.append($('<div id="Body"></div>'))
	t.append($('<div id="Neck"><div id="Head"></div></div>'))
	$(id).append(t)
	prepAnimap(t)
	t.find('> div').css('display', 'none')
}
var addAppendage = function(idx) {
	if (animap[idx] == undefined) {
		return
	}
	var ani = animap[idx]
	var target = $('#' + ani.id)
	ani.init.display = ''
	target.css(ani.init)
	for (var i = 0; i < ani.queue.length; i++) {
		target.animate(ani.queue[i].properties, ani.queue[i].options)
	}
}
$(function() {
	$('#Alphabet a').click(function(e) {
		e.preventDefault()
		var self = $(this)
		var letter = self.text()
		if (letter == '') {
			$('#Error').text("Please guess a letter")
			return
		}
		if (!/[a-zA-Z]/.test(letter)) {
			$('#Error').text("You may only guess letters. Wouldn't want to expidite the turkey's doom, would you?")
			return
		}
		$.getJSON(self.attr('href'), function(data) {
			$('#TotalScore strong').text(data.TotalScore)
			$('#WordScore strong').text(data.WordScore)
			self.parent().attr('class', (data.Correct) ? 'correct' : 'wrong')
			if (data.Message != '') {
				$('#Error').text(data.Message)
				return
			}
			if (!data.Correct) {
				do {
					incorrects++
					addAppendage(incorrects)
				} while (incorrects < data.WrongCount)
			}
			$('#Word li').each(function(i, l) {
				$(l).text(data.Guessed[i])
			})
			if (data.Complete) {
				$('#NewWord').show()
			}
		})
	})
})
$(function() {
	prepDOM('#Stage')
})
</script>

<h1>Guess the Word Before Turkey Becomes Dinner!</h1>

<div id="Stage"></div>

<div id="TotalScore">Total Score: <strong>{{ .TotalScore }}</strong></div>
<div id="WordScore">Word Score: <strong>{{ .WordScore }}</strong></div>

<h2>Your Word is:</h2>
<ol id="Word">
{{ range $i, $l := $state.GuessedLetters }}
	<li{{ if $state.IsSpace $i }} class="space"{{ end }}>{{ $l }}</li>
{{ end }}
</ol>

<h2>Choose a Letter</h2>
<div id="Error"></div>
<ol id="Alphabet">
{{ range .Alphabet }}
	<li><a href="/guess/{{ . }}">{{ . }}</a></li>
{{ end }}
</ol>
<div id="NewWord">Congratualations! You solved it! <a href="/new-word">Get a new word!</a></div>
{{ end }}
