{{ define "title" }}Hang Turkey - Make Your Best Guess{{ end }}

{{ define "content" }}
{{ $state := .State }}

<style type="text/css">
h2 {
	clear:both;
	margin:0;
	padding:1em 0;
}
ol {
	list-style:none;
	margin:0;
	padding:0;
}
li {
	display:block;
	float:left;
	height:2em;
	line-height:2em;
	margin:0 0.5em 0.5em 0;
	text-align:center;
	width:2.5em;
}
li a {
	display:block;
	height:100%;
}
#Alphabet {
	/* (2.5 + 0.5) * 13 + 1 (for good measure)*/
	width:40em;
}
#Alphabet li {
	background:yellow;
}
#Alphabet li.correct {
	background:green;
}
#Alphabet li.wrong {
	background:red;
}
#Error {
	color:#C10;
}
#Guess {
	clear:both;
}
#NewWord {
	clear:both;
	display:none;
}
#Stage {
	border:1px solid #000;
	height:612px;
	position:relative;
	width:792px;
}
#Turkey {
	border:1px solid #F00;
	width:354px;
	height:385px;
}
#Turkey div {
	position:absolute;
	xbackground-color:rgba(0, 0, 0, 0.25);
}
#Turkey #LeftLeg {
	background-image:url(../images/turkey_leg_left.svg);
	background-repeat:no-repeat;
	height:60px;
	left:140px;
	top:325px;
	width:38px;
}
#Turkey #RightLeg {
	background-image:url(../images/turkey_leg_right.svg);
	background-repeat:no-repeat;
	height:60px;
	left:182px;
	top:325px;
	width:38px;
}
#Turkey #LeftWing {
	background-image:url(../images/turkey_wing_left.svg);
	background-repeat:no-repeat;
	height:84px;
	left:0px;
	top:202px;
	width:94px;
}
#Turkey #RightWing {
	background-image:url(../images/turkey_wing_right.svg);
	background-repeat:no-repeat;
	height:84px;
	left:260px;
	top:202px;
	width:94px;
}
#Turkey #Body {
	background-image:url(../images/turkey_body.svg);
	background-position:center bottom;
	background-repeat:no-repeat;
	bottom:0;
	height:226px;
	width:327px;
}
#Turkey #Feathers {
	background-image:url(../images/turkey_feathers.svg);
	background-position:center top;
	background-repeat:no-repeat;
	height:301px;
	left:15px;
	top:45px;
	width:327px;
}
#Turkey #Neck {
	background-image:url(../images/turkey_neck.svg);
	background-position:center bottom;
	background-repeat:no-repeat;
	height:270px;
	left:115px;
	top:0px;
	width:124px;
}
#Turkey #Head {
	background-image:url(../images/turkey_head_eyes-normal.svg);
	xbackground-image:url(../images/turkey_head_eyes-bulge.svg);
	background-position:center bottom;
	background-repeat:no-repeat;
	height:168px;
	width:124px;
}
#Word li {
	background:#CCC;
	border-bottom:1px solid #000;
}
#Word li.space {
	border:0;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
$(function() {
	$('#Alphabet a').click(function(e) {
		e.preventDefault()
		var self = $(this)
		var letter = self.text()
		if (letter == '') {
			$('#Error').text("Please guess a letter")
			return
		}
		if (!/[a-zA-Z]/.test(letter)) {
			$('#Error').text("You may only guess letters. Wouldn't want to expidite the turkey's doom, would you?")
			return
		}
		$.getJSON(self.attr('href'), function(data) {
			$('#TotalScore strong').text(data.TotalScore)
			$('#WordScore strong').text(data.WordScore)
			self.parent().attr('class', (data.Correct) ? 'correct' : 'wrong')
			if (data.Message != '') {
				$('#Error').text(data.Message)
				return
			}
			if (!data.Correct) {
				console.log("Attach next thing to turkey")
			}
			$('#Word li').each(function(i, l) {
				$(l).text(data.Guessed[i])
			})
			if (data.Complete) {
				$('#NewWord').show()
			}
		})
	})
})
</script>

<h1>Guess the Word Before Turkey Becomes Dinner!</h1>

<div id="Stage">
	<div id="Turkey">
		<div id="LeftLeg"></div>
		<div id="RightLeg"></div>
		<div id="LeftWing"></div>
		<div id="RightWing"></div>
		<div id="Feathers"><div id="Body"></div></div>
		<div id="Neck"><div id="Head"></div></div>
	</div>
</div>

<div id="TotalScore">Total Score: <strong>{{ .TotalScore }}</strong></div>
<div id="WordScore">Word Score: <strong>{{ .WordScore }}</strong></div>

<h2>Your Word is:</h2>
<ol id="Word">
{{ range $i, $l := $state.GuessedLetters }}
	<li{{ if $state.IsSpace $i }} class="space"{{ end }}>{{ $l }}</li>
{{ end }}
</ol>

<h2>Choose a Letter</h2>
<div id="Error"></div>
<ol id="Alphabet">
{{ range .Alphabet }}
	<li><a href="/guess/{{ . }}">{{ . }}</a></li>
{{ end }}
</ol>
<div id="NewWord">Congratualations! You solved it! <a href="/new-word">Get a new word!</a></div>
{{ end }}
